.news {
  &__info {
    margin: 10px 0;
    span {
      font-size: 0.8rem;
      color: #525252;
      margin-right: 5px;
    }
    &__icon {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  &__title {
    margin: 0;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
  }
  &__link {
    font-weight: 600;
    color: $color-primary;
    display: block;
    &:hover {
      color: lighten($color-primary, 15);
    }
  }
  &__thumbnail {
    img {
      width: 100%;
      height: 238px;
      object-fit: cover;
    }
  }
  &__preview {
    height: 100%;
    p {
      margin-top: 7px;
      font-size: 0.8rem;
    }
  }
}
