.video {
    margin-bottom: 70px;
    h4 {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: $color-primary;
        letter-spacing: 1px;
    }
    .owl-carousel {
        .owl-dots {
            position: absolute;
            right: 10px;
            bottom: -30px;
            width: 100%;
            button {
                outline: none;
            }
            .owl-dot span {
                background: #ffffff;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }
            .active span {
                background: $color-primary !important;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }
            .owl-dot:hover span {
                background: $color-primary !important;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        .owl-nav {
            button {
                outline: none;
            }
            position: absolute;
            top: -70px;
            right: 0;
            color: $color-primary;
            font-size: 34px;
            .owl-prev {
                position: relative;
                width: 25px;
                height: 25px;
                margin: 0;
                color: $color-primary;
                span {
                    position: absolute;
                    top: -15px;
                    right: -1px;
                    width: 100%;
                    height: 100%;
                }
            }
            .owl-prev:hover {
                background-color: $color-primary;
                color: #fff;
            }
            .owl-next {
                position: relative;
                width: 25px;
                height: 25px;
                margin: 0;
                color: $color-primary;
                span {
                    position: absolute;
                    top: -15px;
                    right: -1px;
                    width: 100%;
                    height: 100%;
                }
            }
            .owl-next:hover {
                background-color: $color-primary;
                color: #fff;
            }
        }
    }
}
